MediaDataApplication.AspNetMvcClient/Service References/MediaDataServiceReference/MediaDataService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:4147/MediaDataService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:4147/MediaDataService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/Message" />
  <xs:import schemaLocation="http://localhost:4147/MediaDataService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/MediaDataApplication.WcfService.DataContracts" />
  <xs:element name="DeleteMedia">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="mediaFilesName" nillable="true" type="q1:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMediaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DownloadChunkRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Length" type="xs:int" />
        <xs:element minOccurs="0" name="Offset" type="xs:long" />
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DownloadFileInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/Message" name="FileByteStream" type="q2:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FileName" nillable="true" type="xs:string" />
  <xs:element name="DownloadRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUserMediaFilesName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUserMediaFilesNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetAllUserMediaFilesNameResult" nillable="true" type="q3:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUserMediaMetadata">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUserMediaMetadataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/MediaDataApplication.WcfService.DataContracts" minOccurs="0" name="GetAllUserMediaMetadataResult" nillable="true" type="q4:ArrayOfMediaMetadata" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMediaMetadata">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mediaFileName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMediaMetadataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/MediaDataApplication.WcfService.DataContracts" minOccurs="0" name="GetMediaMetadataResult" nillable="true" type="q5:MediaMetadata" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMediaMetadata">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/MediaDataApplication.WcfService.DataContracts" minOccurs="0" name="mediaMetadata" nillable="true" type="q6:MediaMetadata" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMediaMetadataResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadMediaFileInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.microsoft.com/Message" name="FileByteStream" type="q7:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserName" nillable="true" type="xs:string" />
  <xs:element name="UploadThumbFileInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.microsoft.com/Message" name="FileByteStream" type="q8:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MediaFileName" nillable="true" type="xs:string" />
  <xs:element name="LoginUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginUserResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/MediaDataApplication.WcfService.DataContracts" minOccurs="0" name="user" nillable="true" type="q9:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterUserResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>