MediaDataApplication.AspNetMvcClient/Service References/MediaDataServiceReference/MediaDataService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MediaDataApplication.WcfService.DataContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MediaDataApplication.WcfService.DataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="MediaFault">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CommonFault">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MediaFault" nillable="true" type="tns:MediaFault" />
  <xs:complexType name="CommonFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="FaultMessage" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CommonFault" nillable="true" type="tns:CommonFault" />
  <xs:complexType name="UserFault">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CommonFault">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UserFault" nillable="true" type="tns:UserFault" />
  <xs:complexType name="ArrayOfMediaMetadata">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MediaMetadata" nillable="true" type="tns:MediaMetadata" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMediaMetadata" nillable="true" type="tns:ArrayOfMediaMetadata" />
  <xs:complexType name="MediaMetadata">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FileLength" type="xs:long" />
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MediaId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MediaMetadata" nillable="true" type="tns:MediaMetadata" />
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserID" type="xs:int" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
</xs:schema>